.title-category {
  width: 100%;
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding-bottom: 1rem;
  font-size: 700;
}

.title-category a {
  text-decoration: none;
  color: #175fa6;
}

.category-col img {
    border-radius: 12px;
}